<ul class="list-group pmd-z-depth pmd-list pmd-card-list pmd-list-icon">
    <li class="list-group-item">
        <i class="material-icons media-left pmd-sm">Create</i>
        <span class="media-body">@Html.ActionLink("Blog", "Create", "Blogs")</span>
    </li>
    <li class="list-group-item">
        <i class="material-icons media-left pmd-sm">View</i>
        <span class="media-body">@Html.ActionLink("All Posts", "Index", "Blogs")</span>
    </li>
</ul>
