<div class="well">
    <h4>Blog Search</h4>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get, null))
            {
        <div class="input-group">
            <input type="text" name="keyword" value="@ViewBag.searchQuery" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    }

    <!-- /.input-group -->
</div>
